.Profile {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 320px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #efefef;
}

.Profile .profile-info {
    text-align: center;
}

.Profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile form input {
    margin: 5px 10px;
    width: 45%;
    padding: 5px;
    border-style: none;
}

.Profile form .button {
    width: 47%;
    background-color: #d8d8d8;
    padding: 2%;
    cursor: pointer;
}

.Profile .profile-info button {
    width: 50%;
    margin-top: auto;
    border-style: none;
    background-color: #ff6e40;
    padding: 8px;
    color: white;
    border-radius: 3px;
}


@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .Profile {
        height: 350px;
    }

}

@media only screen and (max-width: 450px){
	/*Big smartphones [426px -> 600px]*/
    .Profile {
        height: 350px;
    }

}

@media only screen and (max-width: 425px){
	/*Big smartphones [426px -> 600px]*/
    .Profile {
        height: 350px;
    }

}