.Profile {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 20vmax;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: 30vmin;
    background-color: #efefef;
}

.Profile .profile-info {
    text-align: center;
}

.Profile .profile-info button {
    width: 50%;
    margin-top: auto;
    border-style: none;
    background-color: #ff6e40;
    padding: 8px;
    color: white;
    border-radius: 3px;
}


@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .Profile {
        height: 40vmin;
    }

}

@media only screen and (max-width: 450px){
	/*Big smartphones [426px -> 600px]*/
    .Profile {
        height: 50vmin;
    }

}

@media only screen and (max-width: 425px){
	/*Big smartphones [426px -> 600px]*/
    .Profile {
        height: 60vmin;
    }

}