.Ticket {
    margin: 0 1%;
    width: 70%;
}

.Ticket .ticketContent {
    color: #fff;
    margin-left: 6%;
    font-size: 2.5vmax;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Ticket .primaryButton {
    text-decoration: none;
    font-size: 2vmin;
    font-weight: 600;
    padding: 10px;
    background:linear-gradient(to right, #fe8d30, #feb21c);
    border-radius: 30px;
    color: black;
}

.Ticket .ticketContent .bottomPart {
    margin-top: auto;
}

.Ticket .ticketContent .bottomPart h2 {
    text-align: center;
}


@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .Ticket {
        margin: 0 1%;
        width: 54%;
        height: 30vmin;
    }
    

    .Ticket .ticketContent .bottomPart {
        margin-top: auto;
        height: 75px;
    }

    .Ticket .primaryButton {
        margin-bottom: 15px;
    } 

}

@media only screen and (max-width: 430px){

    .Ticket .ticketContent .bottomPart {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    /*Big smartphones [426px -> 600px]*/
    .Ticket {
        margin: 0 1%;
        width: 50%;
        height: 60vmin;
        margin: auto;
    }
    
    .Ticket  {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .Ticket .ticketContent {
        font-size: 5vmin;
    }

    .Ticket .ticketContent .bottomPart {
        margin-top: auto;
        height: 75px;
        margin-bottom: 10vmin;
    }

    .Ticket .primaryButton {
        margin-bottom: 15px;
    } 
}
