.DestinationDetails {
    background-color: #efefef;
    padding: 8%;
    width: 35vmin;
}

.DestinationDetails p {
    font-size: smaller;
}

.DestinationDetails form {
    width: 30vmin;
}

.DestinationDetails .button {
    width: 100%;
    background-color: #ff6e40;
    color: white;
    padding: 4%;
    margin-top: 10%;
    border-style: none;
    border-radius: 3px;
}

.DestinationDetails .date {
    width: 100%;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .DestinationDetails {
        text-align: center;
        width: 38vmin;
    }

}


