
.Summary .locationName .name {
    margin-top: 3%;
    color: white;
    font-size: larger;
}

.Summary .locationName .name > :first-child {
    margin-top: -15%;
}

.Summary .locationName {
    display: flex;
    justify-content: left;
    background-color: #ff6e40;
    padding: 5px;
    border-radius: 5px;
}

.Summary .locationName .icon {
    width: 30px;
    margin-top: 1%;
}

.Summary .locationName .icon img {
    width: 100%;
    height: 85%;
}


.Summary .ticketDetails {
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.Summary .ticketDetails img {
    width: 20%;
}

.Summary .date {
    text-align: center;
    font-size: medium;
}
