
.Summary .locationName .name {
    background-color: #ff6e40;
    padding: 10px;
    color: white;
    border-radius: 7px;
}

.Summary .locationName .name span {
    margin-right: 5px;
}

.Summary .ticketDetails {
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.Summary .ticketDetails img {
    width: 20%;
}

.Summary .date {
    text-align: center;
    font-size: medium;
}
