
.Home {
    text-align: center;
    margin: 10% 7%;
}

.Home .tickets {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .Home .tickets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .Home .tickets {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}