.Header .main {
    display: flex;
    justify-content: space-between;
    margin: 4% 8%;
}

.Header .main .navigation>* {
    padding: 5px 10px;
    margin: 0px 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 2vmin;
}

.Header .logoHolder img {
    width: 15vmin;
}

.Header .signUpDiv >* {
    text-decoration: none;
}

.Header .signUp, .Header .signUpDiv {
    background-color: #ff6e40;
    padding: 3px;
    color: white;
    display: inline;
    text-decoration: none;
    border-radius: 3px;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .Header .main .navigation>* {
        padding: 5px 5px;
        margin: 0px 5px;
        font-size: 2vmin;
    }
}

