.Header .main {
    display: flex;
    justify-content: space-between;
    margin: 4% 8%;
}

.Header .main .navigation>* {
    padding: 5px 10px;
    margin: 0px 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 2vmin;
}

.Header .logoHolder img {
    width: 15vmin;
}


@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .Header .main .navigation>* {
        padding: 5px 5px;
        margin: 0px 5px;
        font-size: 2vmin;
    }
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/

}
