.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailLogin, .socialLogin {
    text-align: center;  
    padding: 3%;
    width: 30%;
    background-color: #efefef;
    cursor: pointer;
}

.emailLogin {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    background-color: #efefef;
}

.emailLogin form >* {
    margin-bottom: 2%;
    border-style: hidden;
    padding: 5px;
}

.emailLogin form input, .emailLogin form input {
    width: 90%;
    border-radius: 3px;
}
.emailLogin form .inputButton {
    width: 90%;
    background-color: #ff6e40;
    color: #fff;
    border: none;
}

.socialLogin {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 2px;
}

.socialLogin .icon {
    align-self:center;
}

.socialLogin .icon img {
    width: 35%;
    margin-left: -60%;
    margin-top: 6%;
}

.socialLogin .button {
    width: 100%;
    line-height: 0%;
    margin-right: -7%;
}
.socialLogin .button p {
    color: black;
}

.emailLogin form .signupInfo {
    font-size: 12px;
    display:block;
}

.emailLogin form .signupInfo span {
    color: #ff6e40;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .socialLogin {
        font-size: 2vmin;
    }
}
